.gridTitle {
  border-bottom: 4px solid black;
  font:bold;
}

.gridItem{
  border: 2px solid black
}

.gridHeading{
  font:bold
}

.gridInput{
  font-size:10px;
  width:7em;
  padding-bottom:1px; 
}
